body{
    height: 100vh;
    background-image: linear-gradient(to top right, #fc575e, #90d5ec);
    overflow-x: hidden;
    overflow-y: hidden; 
    margin: 0%;
    padding: 0%;
    background-repeat:no-repeat;
}

.main{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: -260px;
    
}
.newaccount{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.username{
    margin-bottom: 50px;
    text-decoration: none;
}
.password{
    padding-bottom: 50px;
    text-decoration: none;
}
.heading , h1{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: rgb(255, 255, 255);
}
input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgb(202, 26, 26);
  }
 
  .text-line {
    background: none;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid rgb(44, 107, 161) 1px;
    padding: 3px 10px;
}
#message_User{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#plabel{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: rgb(255, 255, 255);
}
#ulabel{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: rgb(255, 255, 255);
}
/* button */
.button {
    border-radius: 4px;
    background-image: linear-gradient(to top right, #9795ef, #f9c5d1);
    border: none;
    color: #080808;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
/* button */
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 12px;
}
a{
    text-decoration: none;
    color: #000;
}

